.container {
	width: 50%;
	margin: 15px auto;
}

input[type="text"] {
	width: 20px;
}

form {
	text-align: center;
}



h1 {
	text-align: center;
}

.hangman-figure p {
	margin: 0;
	padding: -10px;
}

.container p {
	text-align: center;
}